@charset "UTF-8";

.login-panel,
.join-panel {
	background-color: #FCFCFC;
	margin: 100px auto;
	position: relative;
	width: 400px;
}

.panel-body > p {
    margin: 0 0;
}

.panel-body > hr {
    margin-top: 10px;
    margin-bottom: 10px;
}